#enso-combat-hud {
    height: 0;
    transition: height 1.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
    padding: 0;

    div {
        display: flex;
        justify-items: center;
        margin-left: 10px
    }

    div.turn {
        background-color: black;
    }

    div.current-turn {
        background-color: white;
    }

    img.combatant-img {
        height: 75px;
        width: 75px;
    }


}
